<!-- <h1>Hi this is hijoe</h1> -->

<!-- PROPERTY BINDING -->

<!-- <input type="text"[id]="black"value="hijore">
<input type="text" bind-disabled="isDisabled" id="{{black}}"value="hijore"> -->

<!-- CLASS BINDING -->

<!-- <H1 [class]="successClass">Hi this is hijore</H1>
<H1 [class]="dangerClass">Hi this is hijore</H1>
<H1 [class]="successClass" class="text-special">Hi this is hijore</H1>

<h1 [class.text-success]="hasErr"> Ramanathapuram</h1>

<h1 [ngClass]="messageClass"> i am from ramanathapuram</h1> -->

<!-- STYLE BINDING -->
<!-- <h1 [style.color]="hasErr? 'red':'yellow'">Hi I am from ramanathapuram</h1>
   <h1 [ngStyle]="style">Hi I am from velacherry</h1> -->

<!-- EVENT BINDING -->

<!-- <button (click)="onClick($event)">Greet</button>
           {{geet}} -->

<!-- <div class="table">
  <table class="table table-striped">
    <thead>
        <th>id</th>
        <th>name</th>
        <th>username</th>
        <th>email</th>
        <th>street</th>
        <th>city</th>
        <th>phonenumber</th>
        <th>website</th>
        <th>companyname</th>
        <th>IsActive</th>
    </thead>
    <tr *ngFor="let object of objects ; index as i"[class.disablecolor]="showBackround && currentRow==i+1">
         <td>{{object.id}}</td>
         <td>{{object.name}}</td>
         <td>{{object.username}}</td>
         <td>{{object.email}}</td>
         <td>{{object.address.street}}</td>
         <td>{{object.address.city}}</td>
         <td>{{object.phone}}</td>
         <td>{{object.website}}</td>
         <td>{{object.company.name}}</td>
         <td [ngStyle]="{color:false?'green':'red'}">false</td>
         <button  (click)="onClick(object.id)"class="btn btn-primary">Disable</button>
    </tr>
  </table>

</div> -->

<table>
  <thead>
    <th>Id</th>
    <th>name</th>
    <th>email</th>
    <th>city</th>
    <th>isActive</th>


  </thead>
  <tbody>
    <tr *ngFor="let object of objects;index as i" [class.disablecolor]="showBackround && currentRow ==i+1">
      <td>{{object.id}}</td>
      <td>{{object.name}}</td>
      <td>{{object.email}}</td>
      <td>{{object.city}}</td>
      <td [style.color]="object.active?'green':'red'">{{object.active}}</td>
      <td><button class="btn btn-primary" (click)="onClick(object.id)">Disable</button></td>
    </tr>

  </tbody>
</table>